<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <a class="navbar-brand">Mashupoverflow</a>
    <ul class="navbar-nav ml-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li
        *ngIf="isLoggedIn"
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/myquestions">My Questions</a>
      </li>
      <li
        *ngIf="isLoggedIn"
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/myanswers">Answered Question</a>
      </li>
      <li
        *ngIf="!isLoggedIn"
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/auth">Login/Signup</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" (click)="onLogout()" routerLink="">Logout</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>